# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Databases
carpool.db
test.db
*.db
